@page
@using Northwind.EntityModels.Sqlite
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model PacktFeatures.Pages.EmployeeListPageModel

<div class="row">
    <h1 class="display-2">Emplyees</h1>
</div>
<div class="row">
    @foreach (Employee emplyee in Model.Employees)
    {
        <div class="col-sm-3">
            <!-- This will look in Pages\Shared for _Emplyee.cshtml and pass the employee model to it. -->
            <partial name="_Employee" model="emplyee" />
        </div>
    }
</div>
